<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Realtime Message Broker</string>
	<key>CFBundleExecutable</key>
	<string>Realtime Message Broker</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>CFBundleIdentifier</key>
	<string>com.buzzinglight.RTBroker</string>
	<key>NSHumanReadableCopyright</key>
	<string>Buzzing Light</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Buzzing Light</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>LSAppNapIsDisabled</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
